doctype html
html(lang='en')
  head
    title Neo4j
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../shower/themes/ribbon/styles/screen-16x10.css')
  body.shower.list
    header.caption
      h1 Neo4j
      p The World's Leading Graph Database
    include ./slides.jade
    p.badge
      a(href='https://github.com/shower/shower') Fork me on GitHub
    //
      To hide progress bar from entire presentation
      just remove “progress” element.
    .progress
    script(src='../shower/shower.min.js')
    // Copyright © 2015 Yours Truly, Famous Inc.
    // Photos by John Carey, fiftyfootshadows.net
